body, html {
  margin: 0;
}

html {
  height: 100%;
}

body {
  height: inherit;
  overflow: hidden;
  background-color: #000;
  color: #fff;
  font-family: sans-serif;
}

.output {
  text-transform: uppercase;
  text-align: center;
  font-size: 10vh;
  line-height: 11vh;
  overflow: auto;
  position: absolute;
  bottom: 0px;
  right: 0;
  left: 0;
  overflow: hidden;
}

#footer {
  position: absolute;
  bottom: 0px;
  right: 0;
  left: 0;
}

#footer>* {
  display: inline-block;
}

#right-footer {
  float: right;
  transform: translateY(50%);
}

.start-captioning, .stop-captioning {
  background-color: #3898EC;
  border-color: #3898EC;
  color: #fff;
  text-transform: uppercase;
}
